
@model HotDesk.Models.AdminModels.AddEmployeeModel



<div class="action-overlay"></div>
<div class="login-section">
    <span class="cross close-cross" type="button"></span>
    <form method="post" id="add-employee-form">
        @Html.AntiForgeryToken()
        <div class="login-section-item">
            <div class="login-section-item-label">
                @Html.LabelFor(m => m.Name)
            </div>
            <div>
                @Html.EditorFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </div>
        </div>

        <div class="login-section-item">
            <div class="login-section-item-label">
                @Html.LabelFor(m => m.Surname)
            </div>
            <div>
                @Html.EditorFor(m => m.Surname)
                @Html.ValidationMessageFor(m => m.Surname)
            </div>
        </div>

        <div class="login-section-item">
            <div class="login-section-item-label">
                @Html.LabelFor(m => m.Login)
            </div>
            <div>
                @Html.EditorFor(m => m.Login)
                @Html.ValidationMessageFor(m => m.Login)
            </div>
        </div>

        <div class="login-section-item">
            <div class="login-section-item-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div>
                @Html.EditorFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>

        <div class="login-section-item">
            <div class="login-section-item-label">
                @Html.LabelFor(m => m.Role)
            </div>
            <div>
                @Html.DropDownListFor(m => m.Role, new SelectList(Model.RoleName))
            </div>
        </div>

        <div class="login-button">
            <button id="add-employee" type="button">Register</button>
        </div>

    </form>
</div>